
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin: 0;
    background: white;
}

header{
    background-color: white;
    display: flex;
    width: calc(100% - 40px);
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0;
}

.logo a{
    text-decoration: none;
    color: black;
}
header strong{
    font-size: 35px;
    text-shadow: 0px 1.5px 3px #5a5a5a;
}

.buscar input{
    margin: 10px;
    width: 600px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 3px 4px #5a5a5a;
}

.img-logo{
    padding-left: 20px;
    padding-right: 20px;
}

.img-logo img {
    position: relative;
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 3px 1.5px #5a5a5a);
}

nav{
    box-shadow: 3px 3px 3px #5a5a5a;
    width: 100%;
    background-color: white;
    height: 62px;
    position: fixed;
}

nav ul {
    color : black;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}

nav li {
    display: inline;
    margin: 0 80px 0 3px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 100;
}

nav img{
    margin-top: 5px;
    filter: drop-shadow(0px 3px 1.5px #5a5a5a);
}

main img{
    width: 100%;
    height: 600px;
    margin-top: 54px;
}

.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;

}

.categoria{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    background-color: #ebebeb;
    box-shadow: 0px 3px 4px #a1a1a1;
}

.categoria img{
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
}
.categoria h3{
    color: #afafaf;
    font-size: 18px;
    text-align: center;
}

.Productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #cdcdcd;
}

.Productos h1{
    color: black;
    text-align: center;
    width: 100%;
}

.producto{
    padding: 20px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    box-shadow: 0px 3px 4px #a1a1a1;
    margin-bottom: 20px;
}

.producto img{
    width: 280px;
    height: 200px;
}

.producto button{
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 3px 4px #a1a1a1;
}
button:hover{
    background-color: #cdcdcd;
}

.nosotros{
    display: flex;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.texto-nosotros{
    margin: 10px;
    padding: 20px;
}
.nosotros img {
    width: 400px;
    height: 400px;
}
.texto-nosotros h2{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.nosotros p{
    width: 600px;
    height: 200px;
}

.contactos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    gap: 100px;
}

.contactos h2{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 45px;
}
.contacto{
    padding: 30px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    width:400px;
    height: 400px;
}

.contacto form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea{
    flex-wrap: wrap;
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.map iframe{
    width: 600px;
    height: 350px;
}
.contacto button{
    background: #cdcdcd;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.galeria img{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 300px;
}


.formularios{
    text-align: center;
    border: 3px solid;
    border-image: linear-gradient(90deg, #ffffff, #a1a1a1) 1;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 10px;
}

.formularios h1{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 35px;
}
form input{
    width: 300px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px #bfbfbf;
    border-radius: 50px;
}
form a{
    text-decoration: none;
    color: #a1a1a1;
}

.boton input{
    width: 200px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 4px #bfbfbf;
    border-radius: 50px;
    background-color: #a1a1a1;
    color: white;
    font-size: 16px;
    text-align: center;
}

.carritos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    border: 1px solid #cdcdcd;
    margin: 0 auto;
}








